
<div class="container">
        <div class="card-columns">
            <br>
            <h1 ng-show="therearentlikes">
                You haven't any favorite product. 
                You can add some products in from shop.
            </h1>  
            <br>
            <div ng-show="!therearentlikes" class="card mb-4 " ng-repeat="prod in products">
                <div class="view overlay">
                    <img class="card-img-top" src="frontend/assets/img/products/laptop2.jpg" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight waves-effect waves-light">
                            <div class="waves-ripple waves-rippling" data-hold="1559841656915" data-x="87.86669921875"
                                data-y="275.4499969482422" data-scale="scale(10.44)" data-translate="translate(0,0)"
                                style="top:275.4499969482422px;left:87.86669921875px;-webkit-transform:scale(10.44) translate(0,0);-moz-transform:scale(10.44) translate(0,0);-ms-transform:scale(10.44) translate(0,0);-o-transform:scale(10.44) translate(0,0);transform:scale(10.44) translate(0,0);opacity:1;-webkit-transition-duration:750ms;-moz-transition-duration:750ms;-o-transition-duration:750ms;transition-duration:750ms;">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-body p-3">
                    <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">{{prod.product_code}}</h5>
                    <p class="aqua-sky-text mb-0">Generation Funk</p>
                    <ul class="list-unstyled list-inline my-2">
                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                    </ul>
                    <!-- <p class="chili-pepper-text mb-0">19,99 $</p> -->
                    <button class="btn btn-danger" ng-click="removeLike(prod)">Remove</button>
                </div>
            </div>
        </div>
</div>