<script type="text/javascript" src="frontend/assets/js/pagination_functions.js"></script>
<script type="text/javascript" src="frontend/modules/home/view/js/main_home.js"></script>

<script type="text/javascript" src="frontend/modules/shop/view/js/main_shop.js"></script>
<script type="text/javascript" src="frontend/assets/js/shop/functions_shop.js"></script>

<!-- banner slider-->
<!-- <div class="banner-silder">
    <div id="JiSlider" class="jislider">
        <ul>
            <li>
                <div class="w3layouts-banner-top">
                    <div class="bs-slider-overlay">
                        <div class="container">
                            <div class="w3l-slide-text">
                                <h3 data-animation="animated zoomInRight">Enjoy the benefits of outdoor construction</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top1">
                    <div class="bs-slider-overlay">
                        <div class="container">
                            <div class="w3l-slide-text">
                                <h3 data-animation="animated zoomInRight">Get the best in architecture and design</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top2">
                    <div class="bs-slider-overlay">
                        <div class="container">
                            <div class="w3l-slide-text">
                                <h3 data-animation="animated zoomInRight">Enjoy the benefits of outdoor construction</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top3">
                    <div class="bs-slider-overlay">
                        <div class="container">
                            <div class="w3l-slide-text">
                                <h3 data-animation="animated zoomInRight">Get the best in architecture and design</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top4">
                    <div class="bs-slider-overlay">
                        <div class="container">
                            <div class="w3l-slide-text">
                                <h3 data-animation="animated zoomInRight">Enjoy the benefits of outdoor construction</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div> -->
<!-- //banner slider -->
<!-- feedback -->
<section class="news py-5" id="feedback">
    <!-- search bar -->
    <form class="form-inline ml-auto search-bar-products">
        <div class="md-form my-0">
            <input placeholder="Product code" type="text" name="country" id="product_code" ng-model="searched.product_code" ng-keyup="complete(searched,$event)" class="form-control" ng-focus="closesuggestions=true" autocomplete="off"/>
			<ul class="list-group" ng-show="closesuggestions">
				<li class="list-group-item" ng-repeat="produ in filteredProducts.product_code | limitTo:7 track by $index" ng-click="fillTextbox(produ,$event)">{{produ}}</li>
			</ul>
        </div>
        <div class="md-form my-0">
            <input placeholder="Product name" type="text" name="country" id="product_name" ng-model="searched.product_name" ng-keyup="complete(searched,$event)" class="form-control" ng-focus="closesuggestions2=true" autocomplete="off"/>
			<ul class="list-group" ng-show="closesuggestions2">
				<li class="list-group-item" ng-repeat="produ in filteredProducts.product_name | limitTo:7 track by $index" ng-click="fillTextbox(produ,$event)">{{produ}}</li>
			</ul>

        </div>
        <div class="md-form my-0">
            <input placeholder="Available until" type="text" name="country" id="available_until" ng-model="searched.available_until" ng-keyup="complete(searched,$event)" class="form-control" ng-focus="closesuggestion3=true" autocomplete="off"/>
			<ul class="list-group" ng-show="closesuggestion3">
				<li class="list-group-item" ng-repeat="produ in filteredProducts.available_until | limitTo:7 track by $index" ng-click="fillTextbox(produ,$event)">{{produ}}</li>
			</ul>

        </div>
        <button class="btn btn-default" ng-click="searchButton(searched)">Search</button>
    </form>

    <div class="container py-xl-5 py-lg-3" >
        <h3 class="tittle text-center text-uppercase text-white font-weight-bold mb-sm-5 mb-4">Popular products</h3>

        <shopproducts/>

    </div>
</div>


    <div class="col-12">
        <div class="panel panel-default">
            <div class="panel-head">
                <div class="panel-title">Related Products</div>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-12 related-product">
                            <div class="owl-carousel owl-theme multi-item-slider" id="api_products">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //feedback --> 


<section id="product_modal">
        <div id="details_product" ng-hide="true">
            <div id="details">
                <div id="container">
                    <div class="row">
                        <div class="col-md-10"><img id="imgProductModal" src=""></div></br>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-2">Id: </div>
                        <div id="product_codeProductModal" class="col-md-10"></div></br>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Name: </div>
                        <div id="product_nameProductModal" class="col-md-10"></div></br>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Brand: </div>
                        <div id="brandProductModal" class="col-md-10"></div></br>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Manufacturer email: </div>
                        <div id="m_emailProductModal" class="col-md-10"></div></br>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Price: </div>
                        <div id="priceProductModal" class="col-md-10"></div></br>
                    </div>
                    <div class="row">
                        <div class="col-md-2">State of product: </div>
                        <div id="state_productProductModal" class="col-md-10"></div></br>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Type: </div>
                        <div id="product_typeProductModal" class="col-md-10"></div></br>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Processor type: </div>
                        <div id="processor_typeProductModal" class="col-md-10"></div></br>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Available until: </div>
                        <div id="available_untilProductModal" class="col-md-10"></div></br>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- TODO: remove at the end of the project -->
    <p ng-controller="test"></p>